*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
/*banner*/

/* font-family: "Noto Znamenny Musical Notation", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Znamenny+Musical+Notation&display=swap'); 
/* font-family: "Bona Nova", serif; */


/*body*/
body{
    background-color: rgb(123, 219, 254);
    font-family: "Bona Nova", serif;
}


/*header*/
header{
    display: flex;
    justify-content: flex-end;
}

header img{
    width: 350px;
}

header a{   
    color: rgb(33, 23, 150);
    text-decoration-line: none;
    font-weight: 600;
}

nav{
    width: 67%;
}
.navbar-nav{
    
}
.navbar-nav{
    width: 100%;
    list-style: none;
    text-align: right;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 90%;
    text-shadow: -7px 8px 12px rgba(0,0,0,0.57);
}


.banner{
    background-image: url(../img/carrusel_imagenes/1_bench-cat-clouds-railway-sen-to-chihiro-1244611-wallhere.com.jpg);
    background-size: cover;
    background-position: center;
}


/*main */
/* font-family: "Bona Nova", serif; */
/**/
main p{
    padding: 0px 80px;
    color: rgb(42, 19, 15)
}
main article{
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main h3{
    text-align: center;
    margin: 30px 0;
}
h1, h2{
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin: 30px 0;
    text-shadow: -2px 2px 6px rgba(0,0,0,0.3);
    color: rgb(62, 29, 23)
}
h3{
    color: rgb(48, 105, 35);
    text-decoration-line: overline;
}
h4{
    padding: 0px 80px;
}

/**/
/*main index*/
/**/

.arquitectura-emocional{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 460px;
    }

.historia-y-legado{
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin: 30px 0;
    text-shadow: -2px 2px 6px rgba(0,0,0,0.3);
}


.card-animation{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1800px;
    height: 600px;
}
/*aqui empieza la animación de las card*/
.card {
  position: relative;
  width: 400px;
  height: 500px;
  background: linear-gradient(-45deg, #1ea8bd 0%, #d55385 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin-bottom: 50px;
}

.card img{
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.img-toshio-suzuki{
    height: 100%;
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover img {
  scale: 0;
  transform: rotate(-45deg);
}


/* aqui empieza la animación del reel de imágenes*/
.wrapper img{
  display: block;
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
  overflow: hidden;
  height: 100vh;
  margin: 0 30px;
}

.gallery {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-height: 100vh;
  object-fit: cover;
}

.lil-nav {
  overflow-y: scroll;
  overflow-x: hidden;
}

.lil-nav a {
  height: 200px;
  display: flex;
  margin-bottom: 10px;
}

.lil-nav__img {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;
}

.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}



/**/
/*main peliculas*/
/*nausicaa*/

.nausicaa img{
    width: 100%;
    height: 90%;
}
.nausicaa iframe{
    width: 80%;
    height: 100%;
}
.nausicaa{
    display: grid;
    grid-template-areas: 
    "tnausicaa tnausicaa"
    "NDVDV-3 txt1nausicaa"
    "NDVDV-3 vnausicaa"
    "txt3nausicaa NDVDV-4"
    "txt2nausicaa NDVDV-4"
    "NDVDV-11 NDVDV-4";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 70px 200px 250px 70px 150px 300px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.tnausicaa{grid-area: tnausicaa;}
.NDVDV-3{grid-area: NDVDV-3;}
.txt1nausicaa{grid-area: txt1nausicaa;}
.vnausicaa{grid-area: vnausicaa;}
.txt2nausicaa{grid-area: txt2nausicaa;}
.NDVDV-4{grid-area: NDVDV-4;}
.NDVDV-11{grid-area: NDVDV-11;}
.NDVDV-4{grid-area: NDVDV-4;}
.txt3nausicaa{grid-area: txt3nausicaa;}


/*castillo-cielo*/
.castillo-cielo img{
    width: 100%;
    height: 100%;
}
.castillo-cielo{
    display: grid;
    grid-template-areas: 
    "tcastillo-cielo tcastillo-cielo"
    "ECEEC-0 txt1castillo-cielo"
    "txt3castillo-cielo vcastillo-cielo"
    "txt2castillo-cielo vcastillo-cielo"
    "ECEEC-8 ECEEC-12"
    "ECEEC-9 ECEEC-15";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 310px 60px 250px repeat(2, 320px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.tcastillo-cielo{grid-area: tcastillo-cielo;}
.ECEEC-0{grid-area: ECEEC-0;}
.txt1castillo-cielo{grid-area: txt1castillo-cielo;}
.txt2castillo-cielo{grid-area: txt2castillo-cielo;}
.vcastillo-cielo{grid-area: vcastillo-cielo;}
.ECEEC-8{grid-area: ECEEC-8;}
.ECEEC-12{grid-area: ECEEC-12;}
.ECEEC-9{grid-area: ECEEC-9;}
.ECEEC-15{grid-area: ECEEC-15;}
.txt3castillo-cielo{
    grid-area: txt3castillo-cielo;
    text-align: center;
}


/*luciernagas*/
.luciernagas img{
    width: 100%;
    height: 100%;
}

.luciernagas{
    display: grid;
    grid-template-areas: 
    "tluciernagas tluciernagas"
    "LTDLL-1 txt1luciernagas"
    "LTDLL-1 vluciernagas"
    "LTDLL-1 txt4luciernagas"
    "LTDLL-1 txt2luciernagas"
    "LTDLL-1 txt3luciernagas"
    "LTDLL-4 LTDLL-10"
    "LTDLL-13 LTDLL-10"
    "LTDLL-14 LTDLL-10";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 200px 280px 70px 180px 120px repeat(3, 400px);
    gap: 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.tluciernagas{grid-area: tluciernagas;}
.LTDLL-1{grid-area: LTDLL-1;}
.txt1luciernagas{grid-area: txt1luciernagas;}
.vluciernagas{grid-area: vluciernagas;}
.txt2luciernagas{grid-area: txt2luciernagas;}
.txt3luciernagas{grid-area: txt3luciernagas;}
.LTDLL-13{grid-area: LTDLL-13;}
.LTDLL-10{grid-area: LTDLL-10;}
.LTDLL-14 {grid-area: LTDLL-14 ;}
.LTDLL-4{grid-area: LTDLL-4;}
.txt4luciernagas{
    grid-area: txt4luciernagas;
    text-align: center;
    padding-top: 15px;
}

/*totoro*/
.totoro img{
    width: 100%;
    height: 100%;
}

.totoro iframe{
    width:90%;}

.totoro{
    display: grid;
    grid-template-areas: 
    "ttotoro ttotoro"
    "MVT-0 MVT-0"
    "MVT-7 txt1totoro"
    "MVT-7 vtotoro"
    "MVT-7 txt2totoro"
    "MVT-7 txt3totoro"
    "MVT-7 txt4totoro"
    "MVT-7 txt5totoro"
    "MVT-9 MVT-10";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 640px 200px 370px 30px repeat(2, 100px) 180px 350px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.ttotoro{grid-area: ttotoro;}
.MVT-0{grid-area: MVT-0;}
.txt1totoro{grid-area: txt1totoro;}
.vtotoro{grid-area: vtotoro;}
.MVT-7{grid-area: MVT-7;}
.MVT-9{grid-area: MVT-9;}
.MVT-10{grid-area: MVT-10;}
.txt2totoro{grid-area: txt2totoro;}


/*kiki*/
.kiki img{
    width: 100%;
    height: 100%;
}
.kiki{
    display: grid;
    grid-template-areas:
    "tkiki tkiki"
    "KEAD-8 KEAD-8"
    "txt1kiki vkiki"
    "txt3kiki vkiki"
    "txt2kiki vkiki"
    "KEAD-9 KEAD-10"
    "KEAD-15 KEAD-17";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 540px 200px 30px 200px repeat(2,340px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.tkiki{grid-area: tkiki;}
.KEAD-8{grid-area: KEAD-8;}
.txt1kiki{grid-area: txt1kiki;}
.vkiki{grid-area: vkiki;}
.txt2kiki{grid-area: txt2kiki;}
.KEAD-9{grid-area: KEAD-9;}
.KEAD-10{grid-area: KEAD-10;}
.KEAD-15{grid-area: KEAD-15;}
.KEAD-17{grid-area: KEAD-17;}
.txt3kiki{
    grid-area: txt3kiki;
    text-align: center;
}


/*mononoke*/
.mononoke img{
    width: 100%;
    height: 100%;
}
.mononoke{
    display: grid;
    grid-template-areas: 
    "tmononoke tmononoke"
    "LPM-0 txt1mononoke"
    "LPM-0 vmononoke"
    "LPM-0 txt3mononoke"
    "LPM-0 txt2mononoke"
    "LPM-4 LPM-12"
    "LPM-17 LPM-12";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 200px 350px 30px 220px repeat(2, 400px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.tmononoke{grid-area: ;}
.LPM-0{grid-area: LPM-0;}
.txt1mononoke{grid-area: txt1mononoke;}
.vmononoke{grid-area: vmononoke;}
.txt2mononoke{grid-area: txt2mononoke;}
.LPM-4{grid-area: LPM-4;}
.LPM-12{grid-area: LPM-12;}
.LPM-17{grid-area: LPM-17;}
.txt3mononoke{
    grid-area: txt3mononoke;
    text-align: center;
}


/*chihiro*/
.chihiro img{
    width: 100%;
    height: 100%;
}
.chihiro iframe{
    width: 90%;
    height: 90%;
}
.chihiro{
    display: grid;
    grid-template-areas: 
    "tchihiro tchihiro"
    "EVDC-8 txt1chihiro"
    "EVDC-8 txt2chihiro"
    "EVDC-8 vchihiro"
    "EVDC-8 txt5chihiro"
    "EVDC-8 txt3chihiro"
    "EVDC-8 txt4chihiro"
    "EVDC-21 EVDC-14"
    "EVDC-16 EVDC-17";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px repeat(2, 110px) 400px 20px 150px 300px repeat(2, 340px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}
.tchihiro{grid-area: tchihiro;}
.EVDC-8{grid-area: EVDC-8;}
.txt1chihiro{grid-area: txt1chihiro;}
.txt2chihiro{grid-area: txt2chihiro;}
.vchihiro{grid-area: vchihiro;}
.txt3chihiro{grid-area: txt3chihiro;}
.txt4chihiro{grid-area: txt4chihiro;}
.EVDC-17{grid-area: EVDC-17;}
.EVDC-21{grid-area: EVDC-21;}
.EVDC-14{grid-area: EVDC-14;}
.EVDC-16{grid-area: EVDC-16;}
.txt5chihiro{grid-area: txt5chihiro;}


/*howl*/
.howl img{
    width: 100%;
    height: 100%;
}
.howl iframe{
    width: 90%;
}
.howl{
    display: grid;
    grid-template-areas:
    "thowl thowl"
    "EICV-4 EICV-4"
    "EICV-2 txt1howl"
    "EICV-2 vhowl"
    "EICV-2 txt2howl"
    "EICV-2 txt3howl"
    "EICV-2 txt4howl"
    "EICV-27 EICV-47"
    "EICV-8 EICV-15";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 600px 180px 350px 30px repeat(2, 120px) repeat(2, 350px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.thowl{grid-area: thowl;}
.EICV-4{grid-area: EICV-4;}
.EICV-2{grid-area: EICV-2;}
.txt1howl{grid-area: txt1howl;}
.EICV-2{grid-area: EICV-2;}
.vhowl{grid-area: vhowl;}
.txt3howl{grid-area: txt3howl;}
.txt4howl{grid-area: txt4howl;}
.EICV-5{grid-area: EICV-5;}
.EICV-9{grid-area: EICV-9;}
.EICV-10{grid-area: EICV-10;}
.EICV-8{grid-area: EICV-8;}
.EICV-15{grid-area: EICV-15;}
.txt2howl{
    grid-area: txt2howl;
    text-align: center;
}


/*ponyo*/
.ponyo img{
    width: 90%;
    height: 100%;
}
.ponyo{
    display: grid;
    grid-template-areas:
    "tponyo tponyo"
    "P-15 P-15"
    "txt1ponyo P-16"
    "vponyo P-16"
    "txt4ponyo P-16"
    "txt2ponyo P-16"
    "txt3ponyo P-16"
    "P-17 P-13"
    "P-10 P-14";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 550px 250px 350px 30px 150px 180px 380px 320px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.tponyo{grid-area: tponyo;}
.P-15{grid-area: P-15;}
.txt1ponyo{grid-area: txt1ponyo;}
.P-16{grid-area: P-16;}
.vponyo{grid-area: vponyo;}
.txt2ponyo{grid-area: txt2ponyo;}
.txt3ponyo{grid-area: txt3ponyo;}
.P-17{grid-area: P-17;}
.P-13{grid-area: P-13;}
.P-10{grid-area: P-10;}
.P-14{grid-area: P-14;}
.txt4ponyo{grid-area: txt4ponyo;}


/*amapolas*/
.amapolas img{
    width: 100%;
    height: 100%;
}
.amapolas{
    display: grid;
    grid-template-areas:
    "tamapolas tamapolas"
    "LCDLA-15 LCDLA-15"
    "txt1amapolas vamapolas"
    "txt4amapolas vamapolas"
    "txt2amapolas vamapolas"
    "txt3amapolas vamapolas"
    "LCDLA-10 LCDLA-11"
    "LCDLA-10 LCDLA-12";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 600px 250px 40px 70px 200px repeat(2, 320px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.tamapolas{grid-area: tamapolas;}
.LCDLA-15{grid-area: LCDLA-15;}
.txt1amapolas{grid-area: txt1amapolas;}
.txt2amapolas{grid-area: txt2amapolas;}
.txt3amapolas{grid-area: txt3amapolas;}
.vamapolas{grid-area: vamapolas;}
.LCDLA-10{grid-area: LCDLA-10;}
.LCDLA-11{grid-area: LCDLA-11;}
.LCDLA-12{grid-area: LCDLA-12;}
.txt4amapolas{
    grid-area: txt4amapolas;
    text-align: center;
}


/*viento*/
.viento img{
    width: 100%;
    height: 100%;
}
.viento{
    display: grid;
    grid-template-areas:
    "tviento tviento"
    "SLEV-12 SLEV-12"
    "vviento txt1viento"
    "vviento txt5viento"
    "vviento txt2viento"
    "vviento txt3viento"
    "vviento txt4viento"
    "SLEV-13 SLEV-7"
    "SLEV-9 SLEV-8";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 500px 200px 30px repeat(3, 100px) repeat(2, 330px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}
.tviento{grid-area: tviento;}
.SLEV-12{grid-area: SLEV-12;}
.vviento{grid-area: vviento;}
.txt1viento{grid-area: txt1viento;}
.txt2viento{grid-area: txt2viento;}
.txt3viento{grid-area: txt3viento;}
.txt4viento{grid-area: txt4viento;}
.SLEV-13{grid-area: SLEV-13;}
.SLEV-7{grid-area: SLEV-7;}
.SLEV-9{grid-area: SLEV-9;}
.SLEV-8{grid-area: SLEV-8;}
.txt5viento{grid-area: txt5viento;}


/*chico-garza*/
.chico-garza img{
    width: 90%;
    height: 100%;
}
.chico-garza iframe{
    width: 90%;
}
.chico-garza{
    display: grid;
    grid-template-areas:
    "tchico-garza tchico-garza"
    "ECYLG-1 txt1chico-garza"
    "ECYLG-1 vchico-garza"
    "ECYLG-1 txt3chico-garza"
    "ECYLG-1 txt2chico-garza"
    "ECYLG-9 ECYLG-13"
    "ECYLG-11 ECYLG-13";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 120px 380px 40px 200px 280px 280px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.tchico-garza{grid-area: tchico-garza;}
.ECYLG-1{grid-area: ECYLG-1;}
.txt1chico-garza{grid-area: txt1chico-garza;}
.vchico-garza{grid-area: vchico-garza;}
.txt2chico-garza{grid-area: txt2chico-garza;}
.ECYLG-13{grid-area: ECYLG-13;}
.ECYLG-9{grid-area: ECYLG-9;}
.ECYLG-11{grid-area: ECYLG-11;}


/**/
/* main personajes */
/*personaje-nausicaa*/
.personaje-nausicaa img{
    width: 100%;
    height: 100%;
}
.personaje-nausicaa{
    display: grid;
    grid-template-areas: 
    "pNDVDV-15 pNDVDV-15 ptnausicaa"
    "pNDVDV-15 pNDVDV-15 ptxtnausicaa"
    "pNDVDV-15 pNDVDV-15 pNDVDV-16"
    "pNDVDV-9 pNDVDV-8 pNDVDV-12";

    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 150px 300px 700px 280px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.ptnausicaa{grid-area: ptnausicaa;}
.pNDVDV-15{grid-area: pNDVDV-15;}
.ptxtnausicaa{grid-area: ptxtnausicaa;}
.pNDVDV-16{grid-area: pNDVDV-16;}
.pNDVDV-1{grid-area: pNDVDV-1;}
.pNDVDV-9{grid-area: pNDVDV-9;}
.pNDVDV-17{grid-area: pNDVDV-17;}
.pNDVDV-8{grid-area: pNDVDV-8;}
.pNDVDV-12{grid-area: pNDVDV-12;}


/*personaje-nausicaa*/



/* main arte y animación */
.v1aya{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px 0px;
}
.aya img{
    width: 100%;
    height: 100%;
}
.aya{
    display: grid;
    grid-template-areas:
    "aya-1 aya-2 aya-3"
    "aya-4 aya-5 aya-6"
    "aya-7 aya-8 aya-9"
    "aya-10 aya-11 aya-12"
    "aya-13 aya-14 aya-15"
    "aya-16 aya-17 aya-18"
    "aya-19 aya-20 aya-21";

    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.aya-1{grid-area: aya-1;}
.aya-2{grid-area: aya-2;}
.aya-3{grid-area: aya-3;}
.aya-4{grid-area: aya-4;}
.aya-5{grid-area: aya-5;}
.aya-6{grid-area: aya-6;}
.aya-7{grid-area: aya-7;}
.aya-8{grid-area: aya-8;}
.aya-9{grid-area: aya-9;}
.aya-10{grid-area: aya-10;}
.aya-11{grid-area: aya-11;}
.aya-12{grid-area: aya-12;}
.aya-13{grid-area: aya-13;}
.aya-14{grid-area: aya-14;}
.aya-15{grid-area: aya-15;}
.aya-16{grid-area: aya-16;}
.aya-17{grid-area: aya-17;}
.aya-18{grid-area: aya-18;}
.aya-19{grid-area: aya-19;}
.aya-20{grid-area: aya-20;}
.aya-21{grid-area: aya-21;}




/**/
/* main soundtrack */
/**/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jh{
    width: 700px;
    margin-bottom: 50px;
    }
.vjh{
    margin: 50px 0px;
}




/**/
/* footer */
/**/
.footer-text{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14a6dc;
    height: 100px;
}
