*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
/*banner*/

/* font-family: "Noto Znamenny Musical Notation", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Znamenny+Musical+Notation&display=swap'); 
/* font-family: "Bona Nova", serif; */


/*body*/
body{
    background-color: rgb(123, 219, 254);
    font-family: "Bona Nova", serif;
}


/*header*/
header{
    display: flex;
    justify-content: flex-end;
}

header img{
    width: 350px;
}

header a{   
    color: rgb(33, 23, 150);
    text-decoration-line: none;
    font-weight: 600;
}

nav{
    width: 67%;
}

.navbar-nav{
    width: 100%;
    list-style: none;
    text-align: right;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 90%;
    text-shadow: -7px 8px 12px rgba(0,0,0,0.57);
}
.banner{
    background-image: url(../img/carrusel_imagenes/1_bench-cat-clouds-railway-sen-to-chihiro-1244611-wallhere.com.jpg);
    background-size: cover;
    background-position: center;
}


/*main */
/* font-family: "Bona Nova", serif; */
/**/
main p{
    padding: 0px 80px;
    color: #2f1814
}

h3{
    text-align: center;
    margin: 30px 0;
}
h1, h2{
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin: 30px 0;
    text-shadow: -2px 2px 6px rgba(0,0,0,0.3);
    color: #522020
}
/* color: #bb3454;*/
h3{
    color: #bb3454;
    text-decoration-line: overline;
}
h4{
    padding: 0px 80px;
    color: #306923;
    text-decoration: underline;
}

/**/
/*main index*/
/**/
.arquitectura-emocional iframe{
    height: 100%;
    width: 50%;
}
.arquitectura-emocional{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 460px;
    }


/*animación de las cards*/
.card-animation{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1626px;
    height: 600px;
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  background: linear-gradient(-45deg, #3eb8ca 0%, #c2668a 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin-bottom: 50px;
}

.card img{
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.img-toshio-suzuki{
    height: 100%;
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover img {
  scale: 0;
  transform: rotate(-45deg);
}


/*animación reel de imágenes*/

.wrapper img{
  display: block;
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
  overflow: hidden;
  height: 100vh;
  margin: 0 30px;
}

.gallery {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-height: 100vh;
  object-fit: cover;
}

.lil-nav {
  overflow-y: scroll;
  overflow-x: hidden;
}

.lil-nav a {
  height: 200px;
  display: flex;
  margin-bottom: 10px;
}

.lil-nav__img {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;
}

.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}



/**/
/*main peliculas*/
/*nausicaa*/

.nausicaa img{
    width: 100%;
    height: 100%;
}
.nausicaa iframe{
    width: 80%;
    height: 100%;
}
.nausicaa{
    display: grid;
    grid-template-areas: 
    "tnausicaa tnausicaa"
    "NDVDV-3 txt1nausicaa"
    "NDVDV-3 vnausicaa"
    "txt3nausicaa NDVDV-4"
    "txt2nausicaa NDVDV-4"
    "NDVDV-11 NDVDV-4";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 70px 200px 250px 70px 150px 350px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.tnausicaa{grid-area: tnausicaa;}
.NDVDV-3{grid-area: NDVDV-3;}
.txt1nausicaa{grid-area: txt1nausicaa;}
.vnausicaa{grid-area: vnausicaa;}
.txt2nausicaa{grid-area: txt2nausicaa;}
.NDVDV-4{grid-area: NDVDV-4;}
.NDVDV-11{grid-area: NDVDV-11;}
.NDVDV-4{grid-area: NDVDV-4;}
.txt3nausicaa{grid-area: txt3nausicaa;}


/*castillo-cielo*/
.castillo-cielo img{
    width: 100%;
    height: 100%;
}
.castillo-cielo{
    display: grid;
    grid-template-areas: 
    "tcastillo-cielo tcastillo-cielo"
    "ECEEC-0 txt1castillo-cielo"
    "txt3castillo-cielo vcastillo-cielo"
    "txt2castillo-cielo vcastillo-cielo"
    "ECEEC-8 ECEEC-12"
    "ECEEC-9 ECEEC-15";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 360px 60px 250px 390px 370px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.tcastillo-cielo{grid-area: tcastillo-cielo;}
.ECEEC-0{grid-area: ECEEC-0;}
.txt1castillo-cielo{grid-area: txt1castillo-cielo;}
.txt2castillo-cielo{grid-area: txt2castillo-cielo;}
.vcastillo-cielo{grid-area: vcastillo-cielo;}
.ECEEC-8{grid-area: ECEEC-8;}
.ECEEC-12{grid-area: ECEEC-12;}
.ECEEC-9{grid-area: ECEEC-9;}
.ECEEC-15{grid-area: ECEEC-15;}
.txt3castillo-cielo{
    grid-area: txt3castillo-cielo;
    text-align: center;
}


/*luciernagas*/
.luciernagas img{
    width: 100%;
    height: 100%;
}

.luciernagas{
    display: grid;
    grid-template-areas: 
    "tluciernagas tluciernagas"
    "LTDLL-1 txt1luciernagas"
    "LTDLL-1 vluciernagas"
    "LTDLL-1 txt4luciernagas"
    "LTDLL-1 txt2luciernagas"
    "LTDLL-1 txt3luciernagas"
    "LTDLL-4 LTDLL-10"
    "LTDLL-13 LTDLL-10"
    "LTDLL-14 LTDLL-10";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 200px 280px 70px 180px 120px repeat(3, 400px);
    gap: 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.tluciernagas{grid-area: tluciernagas;}
.LTDLL-1{grid-area: LTDLL-1;}
.txt1luciernagas{grid-area: txt1luciernagas;}
.vluciernagas{grid-area: vluciernagas;}
.txt2luciernagas{grid-area: txt2luciernagas;}
.txt3luciernagas{grid-area: txt3luciernagas;}
.LTDLL-13{grid-area: LTDLL-13;}
.LTDLL-10{grid-area: LTDLL-10;}
.LTDLL-14 {grid-area: LTDLL-14 ;}
.LTDLL-4{grid-area: LTDLL-4;}
.txt4luciernagas{
    grid-area: txt4luciernagas;
    text-align: center;
    padding-top: 15px;
}

/*totoro*/
.totoro img{
    width: 100%;
    height: 100%;
}

.totoro iframe{
    width:90%;}

.totoro{
    display: grid;
    grid-template-areas: 
    "ttotoro ttotoro"
    "MVT-0 MVT-0"
    "MVT-7 txt1totoro"
    "MVT-7 vtotoro"
    "MVT-7 txt2totoro"
    "MVT-7 txt3totoro"
    "MVT-7 txt4totoro"
    "MVT-7 txt5totoro"
    "MVT-9 MVT-10";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 660px 200px 370px 30px repeat(2, 100px) 180px 390px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.ttotoro{grid-area: ttotoro;}
.MVT-0{grid-area: MVT-0;}
.txt1totoro{grid-area: txt1totoro;}
.vtotoro{grid-area: vtotoro;}
.MVT-7{grid-area: MVT-7;}
.MVT-9{grid-area: MVT-9;}
.MVT-10{grid-area: MVT-10;}
.txt2totoro{grid-area: txt2totoro;}


/*kiki*/
.kiki img{
    width: 90%;
    height: 100%;
}
.kiki{
    display: grid;
    grid-template-areas:
    "tkiki tkiki"
    "KEAD-8 KEAD-8"
    "txt1kiki vkiki"
    "txt3kiki vkiki"
    "txt2kiki vkiki"
    "KEAD-9 KEAD-10"
    "KEAD-15 KEAD-17";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 620px 200px 30px 200px repeat(2,340px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.tkiki{grid-area: tkiki;}
.KEAD-8{grid-area: KEAD-8;}
.txt1kiki{grid-area: txt1kiki;}
.vkiki{grid-area: vkiki;}
.txt2kiki{grid-area: txt2kiki;}
.KEAD-9{grid-area: KEAD-9;}
.KEAD-10{grid-area: KEAD-10;}
.KEAD-15{grid-area: KEAD-15;}
.KEAD-17{grid-area: KEAD-17;}
.txt3kiki{
    grid-area: txt3kiki;
    text-align: center;
}


/*mononoke*/
.mononoke img{
    width: 100%;
    height: 100%;
}
.mononoke{
    display: grid;
    grid-template-areas: 
    "tmononoke tmononoke"
    "LPM-0 txt1mononoke"
    "LPM-0 vmononoke"
    "LPM-0 txt3mononoke"
    "LPM-0 txt2mononoke"
    "LPM-4 LPM-12"
    "LPM-17 LPM-12";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 200px 350px 50px 250px repeat(2, 400px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.tmononoke{grid-area: tmononoke;}
.LPM-0{grid-area: LPM-0;}
.txt1mononoke{grid-area: txt1mononoke;}
.vmononoke{grid-area: vmononoke;}
.txt2mononoke{grid-area: txt2mononoke;}
.LPM-4{grid-area: LPM-4;}
.LPM-12{grid-area: LPM-12;}
.LPM-17{grid-area: LPM-17;}
.txt3mononoke{
    grid-area: txt3mononoke;
    text-align: center;
}


/*chihiro*/
.chihiro img{
    width: 100%;
    height: 100%;
}
.chihiro iframe{
    width: 90%;
    height: 90%;
}
.chihiro{
    display: grid;
    grid-template-areas: 
    "tchihiro tchihiro"
    "EVDC-8 txt1chihiro"
    "EVDC-8 txt2chihiro"
    "EVDC-8 vchihiro"
    "EVDC-8 txt5chihiro"
    "EVDC-8 txt3chihiro"
    "EVDC-8 txt4chihiro"
    "EVDC-21 EVDC-14"
    "EVDC-16 EVDC-17";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px repeat(2, 110px) 400px 20px 150px 300px 380px 390px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    
}
.tchihiro{grid-area: tchihiro;}
.EVDC-8{grid-area: EVDC-8;}
.txt1chihiro{grid-area: txt1chihiro;}
.txt2chihiro{grid-area: txt2chihiro;}
.vchihiro{grid-area: vchihiro;}
.txt3chihiro{grid-area: txt3chihiro;}
.txt4chihiro{grid-area: txt4chihiro;}
.EVDC-17{grid-area: EVDC-17;}
.EVDC-21{grid-area: EVDC-21;}
.EVDC-14{grid-area: EVDC-14;}
.EVDC-16{grid-area: EVDC-16;}
.txt5chihiro{grid-area: txt5chihiro;}


/*howl*/
.howl img{
    width: 100%;
    height: 100%;
}
.howl iframe{
    width: 90%;
}
.howl{
    display: grid;
    grid-template-areas:
    "thowl thowl"
    "EICV-4 EICV-4"
    "EICV-2 txt1howl"
    "EICV-2 vhowl"
    "EICV-2 txt2howl"
    "EICV-2 txt3howl"
    "EICV-2 txt4howl"
    "EICV-27 EICV-47"
    "EICV-8 EICV-15";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 680px 200px 350px 60px repeat(2, 120px) repeat(2, 390px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.thowl{grid-area: thowl;}
.EICV-4{grid-area: EICV-4;}
.EICV-2{grid-area: EICV-2;}
.txt1howl{grid-area: txt1howl;}
.EICV-2{grid-area: EICV-2;}
.vhowl{grid-area: vhowl;}
.txt3howl{grid-area: txt3howl;}
.txt4howl{grid-area: txt4howl;}
.EICV-5{grid-area: EICV-5;}
.EICV-9{grid-area: EICV-9;}
.EICV-10{grid-area: EICV-10;}
.EICV-8{grid-area: EICV-8;}
.EICV-15{grid-area: EICV-15;}
.txt2howl{
    grid-area: txt2howl;
    text-align: center;
}


/*ponyo*/
.ponyo img{
    width: 90%;
    height: 100%;
}
.ponyo{
    display: grid;
    grid-template-areas:
    "tponyo tponyo"
    "P-15 P-15"
    "txt1ponyo P-16"
    "vponyo P-16"
    "txt4ponyo P-16"
    "txt2ponyo P-16"
    "txt3ponyo P-16"
    "P-17 P-13"
    "P-10 P-14";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 640px 250px 350px 30px 150px 180px 480px 380px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.tponyo{grid-area: tponyo;}
.P-15{grid-area: P-15;}
.txt1ponyo{grid-area: txt1ponyo;}
.P-16{grid-area: P-16;}
.vponyo{grid-area: vponyo;}
.txt2ponyo{grid-area: txt2ponyo;}
.txt3ponyo{grid-area: txt3ponyo;}
.P-17{grid-area: P-17;}
.P-13{grid-area: P-13;}
.P-10{grid-area: P-10;}
.P-14{grid-area: P-14;}
.txt4ponyo{grid-area: txt4ponyo;}


/*amapolas*/
.amapolas img{
    width: 100%;
    height: 100%;
}
.amapolas iframe{
    width: 100%;
    height: 70%;
}
.amapolas{
    display: grid;
    grid-template-areas:
    "tamapolas tamapolas"
    "LCDLA-15 LCDLA-15"
    "txt1amapolas vamapolas"
    "txt4amapolas vamapolas"
    "txt2amapolas vamapolas"
    "txt3amapolas vamapolas"
    "LCDLA-10 LCDLA-11"
    "LCDLA-10 LCDLA-12";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 700px 200px 50px 100px 200px repeat(2, 400px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.tamapolas{grid-area: tamapolas;}
.LCDLA-15{grid-area: LCDLA-15;}
.txt1amapolas{grid-area: txt1amapolas;}
.txt2amapolas{grid-area: txt2amapolas;}
.txt3amapolas{grid-area: txt3amapolas;}
.vamapolas{grid-area: vamapolas;}
.LCDLA-10{grid-area: LCDLA-10;}
.LCDLA-11{grid-area: LCDLA-11;}
.LCDLA-12{grid-area: LCDLA-12;}
.txt4amapolas{
    grid-area: txt4amapolas;
    text-align: center;
}


/*viento*/
.viento img{
    width: 100%;
    height: 100%;
}
.viento iframe{
    width: 100%;
    height: 70%;
}
.viento{
    display: grid;
    grid-template-areas:
    "tviento tviento"
    "SLEV-12 SLEV-12"
    "vviento txt1viento"
    "vviento txt5viento"
    "vviento txt2viento"
    "vviento txt3viento"
    "vviento txt4viento"
    "SLEV-13 SLEV-7"
    "SLEV-9 SLEV-8";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 120px 700px 200px 30px repeat(3, 100px) repeat(2, 400px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;

}
.tviento{grid-area: tviento;}
.SLEV-12{grid-area: SLEV-12;}
.vviento{grid-area: vviento;}
.txt1viento{grid-area: txt1viento;}
.txt2viento{grid-area: txt2viento;}
.txt3viento{grid-area: txt3viento;}
.txt4viento{grid-area: txt4viento;}
.SLEV-13{grid-area: SLEV-13;}
.SLEV-7{grid-area: SLEV-7;}
.SLEV-9{grid-area: SLEV-9;}
.SLEV-8{grid-area: SLEV-8;}
.txt5viento{grid-area: txt5viento;}


/*chico-garza*/
.chico-garza img{
    width: 100%;
    height: 100%;
}
.chico-garza iframe{
    width: 90%;
}
.chico-garza{
    display: grid;
    grid-template-areas:
    "tchico-garza tchico-garza"
    "ECYLG-1 txt1chico-garza"
    "ECYLG-1 vchico-garza"
    "ECYLG-1 txt3chico-garza"
    "ECYLG-1 txt2chico-garza"
    "ECYLG-9 ECYLG-13"
    "ECYLG-11 ECYLG-13";

    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 150px 180px 380px 40px 200px 420px 400px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.tchico-garza{grid-area: tchico-garza;}
.ECYLG-1{grid-area: ECYLG-1;}
.txt1chico-garza{grid-area: txt1chico-garza;}
.vchico-garza{grid-area: vchico-garza;}
.txt2chico-garza{grid-area: txt2chico-garza;}
.ECYLG-13{grid-area: ECYLG-13;}
.ECYLG-9{grid-area: ECYLG-9;}
.ECYLG-11{grid-area: ECYLG-11;}


/**/
/* main personajes */
/*personaje-nausicaa*/
.personaje-nausicaa img{
    width: 100%;
    height: 100%;
}
.personaje-nausicaa{
    display: grid;
    grid-template-areas: 
    "pNDVDV-15 ptnausicaa pNDVDV-16"
    "pNDVDV-15 ptxtnausicaa pNDVDV-16"
    "pNDVDV-9 pNDVDV-8 pNDVDV-12";

    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px 480px 320px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptnausicaa{grid-area: ptnausicaa;}
.pNDVDV-15{grid-area: pNDVDV-15;}
.ptxtnausicaa{grid-area: ptxtnausicaa;}
.pNDVDV-16{grid-area: pNDVDV-16;}
.pNDVDV-1{grid-area: pNDVDV-1;}
.pNDVDV-9{grid-area: pNDVDV-9;}
.pNDVDV-17{grid-area: pNDVDV-17;}
.pNDVDV-8{grid-area: pNDVDV-8;}
.pNDVDV-12{grid-area: pNDVDV-12;}

/*personaje-sheeta*/
.personaje-sheeta img{
    width: 100%;
    height: 100%;
}
.personaje-sheeta{
    display: grid;
    grid-template-areas:
    "pECEEC-11 pECEEC-11 ptsheeta"
    "pECEEC-11 pECEEC-11 ptxtsheeta"
    "pECEEC-19 pECEEC-19 pECEEC-17"
    "pECEEC-19 pECEEC-19 pECEEC-18"
    "pECEEC-19 pECEEC-19 pECEEC-22";

    grid-template-columns: 35% 10% 45%;
    grid-template-rows: 150px 400px repeat(3, 400px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptsheeta{grid-area: ptsheeta;}
.ptxtsheeta{grid-area: ptxtsheeta;}
.pECEEC-11{grid-area: pECEEC-11;}
.pECEEC-19{grid-area: pECEEC-19;}
.pECEEC-17{grid-area: pECEEC-17;}
.pECEEC-18{grid-area: pECEEC-18;}
.pECEEC-22{grid-area: pECEEC-22;}


/*personaje-seita*/
.personaje-seita img{
    width: 100%;
    height: 100%;
}
.personaje-seita{
    display: grid;
    grid-template-areas:
    "ptseita pLTDLL-15"
    "ptxtseita pLTDLL-15"
    "pLTDLL-9 pLTDLL-2"
    "pLTDLL-12 pLTDLL-6";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 200px 300px 480px 420px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptseita{grid-area: ptseita;}
.ptxtseita{grid-area: ptxtseita;}
.pLTDLL-15{grid-area: pLTDLL-15;}
.pLTDLL-9{grid-area: pLTDLL-9;}
.pLTDLL-6{grid-area: pLTDLL-6;}
.pLTDLL-12{grid-area: pLTDLL-12;}
.pLTDLL-2{grid-area: pLTDLL-2;}


/*personaje-Setsuko*/
.personaje-setsuko img{
    width: 90%;
    height: 100%;
}
.personaje-setsuko{
    display: grid;
    grid-template-areas:
    "ptsetsuko pLTDLL-5"
    "ptxtsetsuko pLTDLL-5"
    "pLTDLL-16 pLTDLL-19"
    "pLTDLL-16 pLTDLL-17";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 150px 200px repeat(2, 380px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}
.ptsetsuko{grid-area: ptsetsuko;}
.ptxtsetsuko{grid-area: ptxtsetsuko;}
.pLTDLL-5{grid-area: pLTDLL-5;}
.pLTDLL-16{grid-area: pLTDLL-16;}
.pLTDLL-19{grid-area: pLTDLL-19;}
.pLTDLL-17{grid-area: pLTDLL-17;}


/*personaje-totoro*/
.personaje-totoro img{
    width: 100%;
    height: 100%;
}
.personaje-totoro{
    display: grid;
    grid-template-areas:
    "pMVT-6 pttotoro"
    "pMVT-6 ptxttotoro"
    "pMVT-6 pMVT-18"
    "pMVT-6 pMVT-15"
    "pMVT-6 pMVT-16";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 120px 180px repeat(3, 420px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.pttotoro{grid-area: pttotoro;}
.ptxttotoro{grid-area: ptxttotoro;}
.pMVT-6{grid-area: pMVT-6;}
.pMVT-18{grid-area: pMVT-18;}
.pMVT-15{grid-area: pMVT-15;}
.pMVT-16{grid-area: pMVT-16;}


/*personaje-satsuki*/
.personaje-satsuki img{
    width: 100%;
    height: 100%;
}
.personaje-satsuki{
    display: grid;
    grid-template-areas:
    "pMVT-19 ptsatsuki"
    "pMVT-19 ptxtsatsuki"
    "pMVT-19 pMVT-4"
    "pMVT-3 pMVT-21";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 150px 200px repeat(2, 400px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptsatsuki{grid-area: ptsatsuki;}
.ptxtsatsuki{grid-area: ptxtsatsuki;}
.pMVT-19{grid-area: pMVT-19;}
.pMVT-3{grid-area: pMVT-3;}
.pMVT-4{grid-area: pMVT-4;}
.pMVT-21{grid-area: pMVT-21;}


/*personaje-mei*/
.personaje-mei img{
    width: 100%;
    height: 100%;
}
.personaje-mei{
    display: grid;
    grid-template-areas:
    "pMVT-26 ptmei"
    "pMVT-26 ptxtmei"
    "pMVT-26 pMVT-23 "
    "pMVT-20 pMVT-24" 
    "pMVT-5 pMVT-25";

    grid-template-columns: repeat(2, 45%) ;
    grid-template-rows: 150px 220px repeat(3, 420px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptmei{grid-area: ptmei;}
.ptxtmei{grid-area: ptxtmei;}
.pMVT-26{grid-area: pMVT-26;}
.pMVT-23{grid-area: pMVT-23;}
.pMVT-20{grid-area: pMVT-20;}
.pMVT-24{grid-area: pMVT-24;}
.pMVT-25{grid-area: pMVT-25;}
.pMVT-5{grid-area: pMVT-5;}


/*personaje-kiki*/
.personaje-kiki img{
    width: 100%;
    height: 100%;
}
.personaje-kiki{
    display: grid;
    grid-template-areas:
    "pKEAD-16 ptkiki"
    "pKEAD-16 ptxtkiki"
    "pKEAD-19 pKEAD-22"
    "pKEAD-20 pKEAD-18";

    grid-template-columns: repeat(2, 45%) ;
    grid-template-rows: 120px 300px repeat(2, 420px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptkiki{grid-area: ptkiki;}
.ptxtkiki{grid-area: ptxtkiki;}
.pKEAD-16{grid-area: pKEAD-16;}
.pKEAD-19{grid-area: pKEAD-19;}
.pKEAD-22{grid-area: pKEAD-22;}
.pKEAD-20{grid-area: pKEAD-20;}
.pKEAD-18{grid-area: pKEAD-18;}


/*personaje-san*/
.personaje-san img{
    width: 100%;
    height: 100%;
}
.personaje-san{
    display: grid;
    grid-template-areas:
    "pLPM-21 ptsan"
    "pLPM-21 ptxtsan"
    "pLPM-7 pLPM-6"
    "pLPM-7 pLPM-19"
    "pLPM-7 pLPM-23";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 150px 250px repeat(3, 420px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptsan{grid-area: ptsan;}
.ptxtsan{grid-area: ptxtsan;}
.pLPM-21{grid-area: pLPM-21;}
.pLPM-6{grid-area: pLPM-6;}
.pLPM-19{grid-area: pLPM-19;}
.pLPM-23{grid-area: pLPM-23;}
.pLPM-7{grid-area: pLPM-7;}


/*personaje-ashitaka*/
.personaje-ashitaka img{
    width: 100%;
    height: 100%;
}
.personaje-ashitaka{
    display: grid;
    grid-template-areas:
    "pLPM-28 ptashitaka"
    "pLPM-28 ptxtashitaka"
    "pLPM-28 pLPM-27"
    "pLPM-26 pLPM-16";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 150px) repeat(2, 420px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}
.ptashitaka{grid-area: ptashitaka;}
.ptxtashitaka{grid-area: ptxtashitaka;}
.pLPM-28{grid-area: pLPM-28;}
.pLPM-24{grid-area: pLPM-24;}
.pLPM-27{grid-area: pLPM-27;}
.pLPM-26{grid-area: pLPM-26;}
.pLPM-16{grid-area: pLPM-16;}

/*personaje-sinCara*/
.personaje-sinCara img{
    width: 100%;
    height: 100%;
}
.personaje-sinCara{
    display: grid;
    grid-template-areas:
    "ptsinCara pEVDC-24"
    "ptxtsinCara pEVDC-24"
    "pEVDC-13 pEVDC-23"
    "pEVDC-14 pEVDC-16";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 150px 250px repeat(2, 420px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptsinCara{grid-area: ptsinCara;}
.ptxtsinCara{grid-area: ptxtsinCara;}
.pEVDC-24{grid-area: pEVDC-24;}
.pEVDC-13{grid-area: pEVDC-13;}
.pEVDC-23{grid-area: pEVDC-23;}
.pEVDC-14{grid-area: pEVDC-14;}
.pEVDC-16{grid-area: pEVDC-16;}


/*personaje-chihiro*/
.personaje-chihiro img{
    width: 100%;
    height: 100%;
}
.personaje-chihiro{
    display: grid;
    grid-template-areas:
    "ptchihiro pEVDC-0"
    "ptxtchihiro pEVDC-0"
    "pEVDC-6 pEVDC-0"
    "pEVDC-22 pEVDC-19"
    "pEVDC-22 pEVDC-21"
    "pEVDC-22 pEVDC-20";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 150px 200px repeat(4, 400px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptchihiro{grid-area: ptchihiro;}
.ptxtchihiro{grid-area: ptxtchihiro;}
.pEVDC-0{grid-area: pEVDC-0;}
.pEVDC-6{grid-area: pEVDC-6;}
.pEVDC-22{grid-area: pEVDC-22;}
.pEVDC-19{grid-area: pEVDC-19;}
.pEVDC-21{grid-area: pEVDC-21;}
.pEVDC-20{grid-area: pEVDC-20;}


/*personaje-haku*/
.personaje-haku img{
    width: 100%;
    height: 100%;
}
.personaje-haku{
    display: grid;
    grid-template-areas:
    "pEVDC-26 pthaku"
    "pEVDC-26 ptxthowl"
    "pEVDC-26 pEVDC-27"
    "pEVDC-25 pEVDC-18";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 150px 200px repeat(2, 420px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.pthaku{grid-area: pthaku;}
.ptxthowl{grid-area: ptxthowl;}
.pEVDC-26{grid-row: pEVDC-26;}
.pEVDC-27{grid-area: pEVDC-27;}
.pEVDC-25{grid-area: pEVDC-25;}
.pEVDC-18{grid-area: pEVDC-18;}


/*personaje-howl*/
.personaje-howl img{
    width: 100%;
    height: 100%;
}
.personaje-howl{
    display: grid;
    grid-template-areas:
    "pthowl pEICV-38"
    "ptxthowl pEICV-38"
    "pEICV-26 pEICV-23"
    "pEICV-26 pEICV-28"
    "pEICV-26 pEICV-29";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 150px 260px 400px repeat(2, 400px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.pthowl{grid-area: pthowl;}
.ptxthowl{grid-area: ptxthowl;}
.pEICV-23{grid-area: pEICV-23;}
.pEICV-38{grid-area: pEICV-38;}
.pEICV-26{grid-area: pEICV-26;}
.pEICV-28{grid-area: pEICV-28;}
.pEICV-29{grid-area: pEICV-29;}


/*personaje-sophie*/
.personaje-sophie img{
    width: 100%;
    height: 100%;
}
.personaje-sophie{
    display: grid;
    grid-template-areas:
    "ptsophie pEICV-41"
    "ptxtsophie pEICV-41"
    "pEICV-32 pEICV-41"
    "pEICV-34 pEICV-33"
    "pEICV-34 pEICV-24"
    "pEICV-34 pEICV-35";

    grid-template-columns: 50% 40%;
    grid-template-rows: 100px 230px 450px repeat(3, 370px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptsophie{grid-area: ptsophie;}
.ptxtsophie{grid-area: ptxtsophie;}
.pEICV-41{grid-area: pEICV-41;}
.pEICV-32{grid-area: pEICV-32;}
.pEICV-34{grid-area: pEICV-34;}
.pEICV-33{grid-area: pEICV-33;}
.pEICV-24{grid-area: pEICV-24;}
.pEICV-35{grid-area: pEICV-35;}



/*personaje-calcifer*/
.personaje-calcifer img{
    width: 100%;
    height: 100%;
}
.personaje-calcifer{
    display: grid;
    grid-template-areas:
    "pEICV-15 ptcalcifer pEICV-16"
    "pEICV-15 ptxtcalcifer pEICV-16"
    "pEICV-14 pEICV-14 pEICV-13"
    "pEICV-14 pEICV-14 pEICV-17";

    grid-template-columns: 30% 25% 35%;
    grid-template-rows: 110px 240px 360px 450px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptcalcifer{grid-area: ptcalcifer;}
.ptxtcalcifer{grid-area: ptxtcalcifer;}
.pEICV-17{grid-area: pEICV-17;}
.pEICV-14{grid-area: pEICV-14;}
.pEICV-13{grid-area: pEICV-13;}
.pEICV-15{grid-area: pEICV-15;}
.pEICV-16{grid-area: pEICV-16;}


/*personaje-ponyo*/
.personaje-ponyo img{
    width: 100%;
    height: 100%;
}
.personaje-ponyo{
    display: grid;
    grid-template-areas:
    "pP-26 ptponyo"
    "pP-26 ptxtponyo"
    "pP-32 pP-4"
    "pP-32 pP-27"
    "pP-32 pP-12";

    grid-template-columns: 50% 40%;
    grid-template-rows: 120px 320px repeat(3, 380px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptponyo{grid-area: ptponyo;}
.ptxtponyo{grid-area: ptxtponyo;}
.pP-26{grid-area: pP-26;}
.pP-32{grid-area: pP-32;}
.pP-4{grid-area: pP-4;}
.pP-27{grid-area: pP-27;}
.pP-12{grid-area: pP-12;}



/*personaje-sosuke*/
.personaje-sosuke img{
    width: 100%;
    height: 100%;
}
.personaje-sosuke{
    display: grid;
    grid-template-areas:
    "pP-30 ptsosuke"
    "pP-30 ptxtsosuke"
    "pP-30 pP-29"
    "pP-8 pP-33" 
    "pP-9 pP-33";

    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 120px 240px 580px repeat(2, 400px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.ptsosuke{grid-area: ptsosuke;}
.ptxtsosuke{grid-area: ptxtsosuke;}
.pP-29{grid-area: pP-29;}
.pP-30{grid-area: pP-30;}
.pP-8{grid-area: pP-8;}
.pP-9{grid-area: pP-9;}
.pP-33{grid-area:pP-33;}




/**/
/* main arte y animación */
.v1aya{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px 0px;
}
.aya img{
    width: 100%;
    height: 100%;
}
.aya{
    display: grid;
    grid-template-areas:
    "aya-1 aya-2 aya-3"
    "aya-4 aya-5 aya-6"
    "aya-7 aya-8 aya-9"
    "aya-10 aya-11 aya-12"
    "aya-13 aya-14 aya-15"
    "aya-16 aya-17 aya-18"
    "aya-20 aya-19 aya-21";

    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.aya-1{grid-area: aya-1;}
.aya-2{grid-area: aya-2;}
.aya-3{grid-area: aya-3;}
.aya-4{grid-area: aya-4;}
.aya-5{grid-area: aya-5;}
.aya-6{grid-area: aya-6;}
.aya-7{grid-area: aya-7;}
.aya-8{grid-area: aya-8;}
.aya-9{grid-area: aya-9;}
.aya-10{grid-area: aya-10;}
.aya-11{grid-area: aya-11;}
.aya-12{grid-area: aya-12;}
.aya-13{grid-area: aya-13;}
.aya-14{grid-area: aya-14;}
.aya-15{grid-area: aya-15;}
.aya-16{grid-area: aya-16;}
.aya-17{grid-area: aya-17;}
.aya-18{grid-area: aya-18;}
.aya-19{grid-area: aya-19;}
.aya-20{grid-area: aya-20;}
.aya-21{grid-area: aya-21;}




/**/
/* main soundtrack */
/**/
.soundtrack{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jh{
    width: 700px;
    margin-bottom: 50px;
}
.vjh{
    margin: 50px 0px;
}
.listado-bso{
    display: flex;
    flex-direction: row;
    margin: 0 80px;
}
.concierto-ghibli-25años{
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bibliografía{
    margin-top: 100px;
}




/**/
/* footer */
/**/
.footer-text{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14a6dc;
    height: 100px;
}



/**/
/* mediaQ header*/

/*@media only screen and (max-width: 500px){
    .arquitectura-emocional iframe{
        height: 90%;
    }
}*/

/*@media only screen and (max-width: 500px){
    .card-animation{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}*/
@media screen (max-width:500px){
    body{
      background-color: #bb3454;
    }
}
body{
    @media screen (max-width:500px){
        background-color: #bb3454;
    }
 
}
