/* footer */
.footer-text{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14a6dc;
    height: 100px;
}



// mediaQs

/* index */

/* video introductorio */



/*Carrusel de imágenes*/
$large: 1200px;

.wrapper {
  @media screen and (min-width: $large) {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
  }
}

.gallery {
  @media screen and (min-width: $large) {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
}

.gallery__img {
  @media screen and (min-width: $large) {
    min-width: auto;
    min-height: 100vh;
  }
}

.lil-nav {
  @media screen and (min-width: $large) {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    grid-row-start: auto;
  }

  a {
    @media screen and (min-width: $large) {
      margin-bottom: 10px;
      min-height: 200px;
      min-width: 100%;
    }
  }
}